@charset "ISO-8859-1";
/*Ajuste da flutuaçao do Menu Header*/
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
	text-align: center !important;
}

.ui-datatable .ui-sortable-column {
    width: 6% !important;
    
}

.ui-datatable .ui-column-filter {
    width: 70% !important;
}
